{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "auto",
  "editor.formatOnSave": true,
  "prettier.printWidth": 80,
  "prettier.tabWidth": 2,
  "prettier.useTabs": false,
  "prettier.semi": false,
  "prettier.bracketSpacing": true,
  "prettier.arrowParens": "always",
  "prettier.endOfLine": "auto"
}
